<IfModule mod_mime.c>
    AddType application/x-font-opentype .otf
    AddType application/x-font-truetype .ttf
    AddType application/font-woff .woff
    AddType application/font-woff2 .woff2
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>
